# Intro to R coding

* [Working directory](#Working-Directory)
* [Comments](#Comments)
* [Help](#Help)
    * [Functions](#Functions)
    * [When not sure about the name](#When-you're-not-sure-about-the-name)
    * [Datasets](#Datasets)
* [Packages](#Packages)
    * [Installation](#Installation)
    * [Loading](#Loading)
        * [Loading the package](#loading-the-package)
        * [Detaching packages](#Detaching-loaded-packages)
* [Datasets](#Built-in-Datasets)
    * [Listing available datasets](#Listing-all-available-datasets)
    * [Loading datasets](#Loading-datasets)
    * [Observing datasets](#Observing-data)
    * [Head](#Head)
    * [Summary](#Summary-of-dataset)
* [Simple Calculations](#Simple-Calculations)
* [Assignment](#Assignment)
* [Comparing values](#Comparing-values)
* [Special values](#Special-values)
    * [NA](#NA)
    * [NULL](#NULL)
    * [NAN](#NAN)
* [Current session](#Current-session)
    * [Objects](#Session-objects)
    * [Packages](#Session-packages)
* [Vectors](#Vectors)
    * [Creation](#Creation)
    * [Operations](#Operations)
    * [Elements](#Elements)
* [Matrix](#Matrix)
* [Dataframes](#Dataframes)
    * [Creation](#Creation)
    * [Operations](#Operations)
    * [Elements](#Dataframe-elements)

## Working Directory

In [1]:
getwd()

[1] "/home/aminst/Documents/University/Research/SNAinRworkshop/Notebooks"

## Comments

In [2]:
# test comment

## Help

### Functions

In [3]:
?data.frame

### When you're not sure about the name

In [4]:
??"factor"

### Datasets

In [5]:
?Cars93

## Packages

### Installation

In [6]:
# install.packages("sna")
# install.packages("sna", dependencies=TRUE)

### Loading

#### loading the package

In [7]:
library("MASS")

#### Detaching loaded packages

In [8]:
detach("package:MASS")

## Built-in Datasets

### Listing all available datasets

In [9]:
data()

### Loading datasets

In [10]:
data(InsectSprays)

### Observing data

In [11]:
InsectSprays

   count spray
1  10    A
2   7    A
3  20    A
4  14    A
5  14    A
6  12    A
7  10    A
8  23    A
9  17    A
10 20    A
11 14    A
12 13    A
13 11    B
14 17    B
15 21    B
16 11    B
17 16    B
18 14    B
19 17    B
20 17    B
21 19    B
22 21    B
23  7    B
24 13    B
25  0    C
26  1    C
27  7    C
28  2    C
29  3    C
30  1    C
⋮  ⋮     ⋮
43  5    D
44  5    D
45  5    D
46  5    D
47  2    D
48  4    D
49  3    E
50  5    E
51  3    E
52  5    E
53  3    E
54  6    E
55  1    E
56  1    E
57  3    E
58  2    E
59  6    E
60  4    E
61 11    F
62  9    F
63 15    F
64 22    F
65 15    F
66 16    F
67 13    F
68 10    F
69 26    F
70 26    F
71 24    F
72 13    F

### Head

In [12]:
head(InsectSprays)

  count spray
1 10    A
2  7    A
3 20    A
4 14    A
5 14    A
6 12    A

### Summary of dataset

In [13]:
summary(InsectSprays)

     count       spray
 Min.   : 0.00   A:12
 1st Qu.: 3.00   B:12
 Median : 7.00   C:12
 Mean   : 9.50   D:12
 3rd Qu.:14.25   E:12
 Max.   :26.00   F:12

## Simple Calculations

In [14]:
2 + 2

[1] 4

In [15]:
2^2 + 2*2

[1] 8

In [16]:
2^(2+2)*2

[1] 32

In [17]:
sqrt(abs(-4))

[1] 2

## Assignment

In [18]:
x <- 3

In [19]:
x

[1] 3

In [20]:
y <- 4

In [21]:
y

[1] 4

In [22]:
y + 5

[1] 9

In [23]:
y

[1] 4

In [24]:
z <- x + 17*y

In [25]:
z

[1] 71

this deletes the object

In [26]:
rm(z)

In [27]:
z

ERROR: Error in eval(expr, envir, enclos): object 'z' not found

## Comparing values

In [28]:
2 == 2

[1] TRUE

In [29]:
2 != 2

[1] FALSE

In [30]:
x <= y

[1] TRUE

## Special values

### NA

In [31]:
cat <- NA

In [32]:
is.na(cat)

[1] TRUE

In [33]:
dog <- TRUE

In [34]:
is.na(dog)

[1] FALSE

### NULL

In [35]:
x <- NULL

In [36]:
is.null(x)

[1] TRUE

In [37]:
y <- 2

In [38]:
is.null(y)

[1] FALSE

### NAN

In [39]:
x <- 0/0

In [40]:
is.nan(x)

[1] TRUE

In [41]:
y <- 3

In [42]:
is.nan(y)

[1] FALSE

## Current session

### Session objects

In [43]:
ls()

[1] "cat"          "dog"          "InsectSprays" "x"            "y"

### Session packages

In [44]:
search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

## Vectors

### Creation

In [45]:
v1 <- c(1, 7, 11, 22)
v1
v2 <- c("hello","world")
v2
v3 <- c(TRUE, TRUE, FALSE)
v3

[1]  1  7 11 22

[1] "hello" "world"

[1]  TRUE  TRUE FALSE

In [46]:
v <- 1:7
v

[1] 1 2 3 4 5 6 7

In [47]:
v <- rep(0, 77)
v
length(v)

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[39] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[77] 0

[1] 77

In [48]:
v <- rep(1:3, times=2)
v

[1] 1 2 3 1 2 3

In [49]:
v <- rep(1:10, each=2)
v

 [1]  1  1  2  2  3  3  4  4  5  5  6  6  7  7  8  8  9  9 10 10

In [50]:
v <- seq(10,20,2)
v

[1] 10 12 14 16 18 20

### Operations

In [51]:
v1 > 2

[1] FALSE  TRUE  TRUE  TRUE

In [52]:
v1==v2

[1] FALSE FALSE FALSE FALSE

In [53]:
v1!=v2

[1] TRUE TRUE TRUE TRUE

In [54]:
(v1>2) | (v2>0)

[1] TRUE TRUE TRUE TRUE

In [55]:
(v1>2) & (v2>0)

[1] FALSE  TRUE  TRUE  TRUE

sum of vector

In [56]:
sum(v1)

[1] 41

average of all elements in vector

In [57]:
mean(v1)

[1] 10.25

standard deviation of vector

In [58]:
sd(v1)

[1] 8.845903

correlation between two vectors

In [59]:
cor(v1,v1*5)

[1] 1

### Elements

In [60]:
v1

[1]  1  7 11 22

getting the third element of vector

In [61]:
v1[3]

[1] 11

getting second, third, and fourth element of vector

In [62]:
v1[2:4]

[1]  7 11 22

getting first and third elements of vector

In [63]:
v1[c(1,3)]

[1]  1 11

In [64]:
v1

[1]  1  7 11 22

just returns elements which are true indexes

In [65]:
v1[c(TRUE, TRUE, FALSE, FALSE)]

[1] 1 7

getting elements greater than 3

In [66]:
v1[v1>3]

[1]  7 11 22

adding elements

In [67]:
v1

[1]  1  7 11 22

In [68]:
v1[5:10] <- 5:10

In [69]:
v1

 [1]  1  7 11 22  5  6  7  8  9 10

## Matrix

In [70]:
matrix1 <- matrix(1:25,5,5)

In [71]:
matrix1

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

## Dataframes

In [72]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [73]:
class(mtcars)

[1] "data.frame"

### Creation

In [74]:
people_df <- data.frame(ID=c(1, 2, 3, 4), FirstName=c("John","Jim","Jane","Jill"), Female=c(F,F,T,T), Age=c(22,33,44,55))

In [75]:
people_df

  ID FirstName Female Age
1 1  John      FALSE  22
2 2  Jim       FALSE  33
3 3  Jane       TRUE  44
4 4  Jill       TRUE  55

In [76]:
people2_df <- data.frame(FirstName=c("John","Jim","Jane","Jill"), stringsAsFactors=FALSE)

In [77]:
people2_df

  FirstName
1 John
2 Jim
3 Jane
4 Jill

### Dataframe elements

first row and all columns

In [78]:
people_df[1, ]

  ID FirstName Female Age
1 1  John      FALSE  22

first column and all rows

In [79]:
people_df[, 1]

[1] 1 2 3 4

age column and all rows

In [80]:
people_df$Age

[1] 22 33 44 55

row 1 and 2, columns 3 and 4

In [81]:
people_df[1:2, 3:4]

  Female Age
1 FALSE  22
2 FALSE  33

In [82]:
people_df[people_df$FirstName=="Jill",4]

[1] 55

In [83]:
people_df[people_df$Age>30, 2]

[1] "Jim"  "Jane" "Jill"